[user]
	name = manicfold
[diff]
	guitool = meld
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	di = diff
[core]
	editor = vim
	bigFileThreshold = 100m
[color]
	ui = true
[pull]
	rebase = true
[guitool "rm"]
	cmd = rm $FILENAME
	noconsole = yes
	needsfile = yes
	argprompt = yes
[difftool]
	prompt = false
